@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@200&display=swap");
* {
   padding: 0;
   margin: 0;
}
body {
   height: 10000px;
   overflow-x: hidden;
}

/* Navbar */
nav {
   height: 60px;
   left: 0;
   right: 0;
   background-image: linear-gradient(102.1deg, rgba(96, 221, 142, 1) 8.7%, rgba(24, 138, 141, 1) 88.1%);
   position: fixed;
   box-shadow: 0 10px 10px rgba(139, 168, 131, 0.301);
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   z-index: 10;
}
.container-nav,
.menu,
.login {
   align-items: center;
   display: flex;
}
.container-nav {
   /* border: 4px solid salmon; */
   justify-content: space-between;
   margin: 0 auto;
   max-width: 80vw;
   height: 100%;
}
.logo {
   font-size: 1.3em;
   letter-spacing: 3px;
   font-family: "Dancing Script", cursive;
   color: rgb(255, 255, 255);
   font-weight: 800;
}
a {
   text-decoration: none;
   color: rgb(240, 240, 240);
}
a:hover {
   color: rgb(255, 255, 255);
}
.container-nav .menu {
   width: 60%;
   justify-content: space-evenly;
}
.container-nav .menu .login {
   width: 30%;
   /* border: 2px solid blanchedalmond; */
   justify-content: space-evenly;
}
.container-nav .menu .login div:nth-child(2):hover {
   background: rgb(21, 111, 114);
}

.container-nav .menu .login div:nth-child(2) {
   background: rgb(16, 91, 94);
   width: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   height: 40px;
   transition: all 0.5s;
}
.burger-button {
   display: none;
   flex-direction: column;
   width: 40px;
   height: 40px;
   /* background: #000; */
   position: relative;
   justify-content: space-around;
}
input {
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0;
   z-index: 2;
   cursor: pointer;
}
span {
   border-radius: 4px;
   display: inline-block;
   width: 100%;
   background-image: linear-gradient(102.1deg, rgb(249, 255, 255) 8.7%, rgb(165, 214, 183) 88.1%);
   height: 5px;
   transition: all 1s;
}
span:nth-child(2) {
   transform-origin: 0;
}
span:nth-child(4) {
   transform-origin: 0 100%;
}
input:checked ~ span {
   border-radius: 0;
   box-shadow: 0 3px 2px rgb(0, 128, 117);
}
input:checked ~ span:nth-child(2) {
   transform: rotate(45deg);
}
input:checked ~ span:nth-child(3) {
   opacity: 0;
   transform: scale(0) rotate(180deg);
}
input:checked ~ span:nth-child(4) {
   transform: rotate(-45deg);
}

/* Responsive */
/* Tablet */
@media only screen and (max-width: 768px) {
   .container-nav {
      max-width: 90vw;
   }
   .container-nav .menu {
      width: 80%;
   }
   .container-nav .menu .login {
      width: 30%;
   }
}
/* Mobile */
@media only screen and (max-width: 568px) {
   nav {
      z-index: 99;
   }
   .container-nav {
      max-width: 80vw;
   }
   .container-nav .menu {
      transform: translateX(100%);
      width: 80vw;
      flex-direction: column;
      position: absolute;
      right: 0;
      z-index: -1;
      padding: 30px 0;
      justify-content: space-evenly;
      top: 0;
      height: 100vh;
      background-image: linear-gradient(102.1deg, rgba(96, 221, 142, 1) 8.7%, rgba(24, 138, 141, 1) 88.1%);
      transition: all 1s;
      opacity: 0;
   }
   .logo {
      font-size: 1.7em;
   }
   .container-nav .menu.slide {
      opacity: 1;
      transform: translateX(0);
   }
   .container-nav .menu .login {
      width: 40%;
      height: 20%;
      flex-direction: column;
      justify-content: space-around;
   }
   .burger-button {
      display: flex;
   }
}
